.grid {
  border: 1px solid black;
  height: 720px;
  width: 720px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 80px;
  width: 80px;
  
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.car-left,
.car-right {
  background-image: url('images/road.jpg');
  background-size: cover;
}

.l1,
.l2,
.l3 {
  background-image: url('images/wood.jpg');
  background-size: cover;
}

.l4,
.l5 {
  background-image: url(images/water.jpg);
  background-size: cover;
}

.c1 {
    background-image: url('images/car.png');
    background-size: cover;
    background-position: -20px;
}

.c2,
.c3 {
  background-color: lightgrey;
}

.grass {
    background-image: url(images/grass.jpg);
    background-size: cover;
}
button{
    margin-bottom: 10px;
}

.frog {
    background-image: url(images/frog.png);
    background-size: contain;
  }
