body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0.25turn, #1893c4, #fff);
  background-size: cover;
}

.score-time {
  width: 90%;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.score-time .s {
  flex: 0.8;
  align-self: center;
  text-align: center;
}
.score-time .t {
  flex: 0.8;
  align-self: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  background: linear-gradient(0.3turn, rgb(240, 177, 96), #ecd468);
  height: 500px;
  width: 450px;
  border-radius: 20px;
}

.square {
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 18px;
}

.mole {
  background-image: url(images/mole.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start-reset {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.start-reset button {
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(0.2turn, rgb(114, 183, 230), rgb(202, 241, 202));
}

.start-reset button:hover {
  opacity: 0.5;
}

.t h2 {
  display: inline;
}

#plus,
#minus {
  margin-left: 5px;
}
