body {
  padding: 0px 10px;
}

.grid {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: burlywood;
  border-radius: 18px;
}

.square {
  width: 198px;
  height: 200px;
  /* border: 1px solid burlywood; */
  border-radius: 100px;
  margin: 10px;
  background-color: white;
}

.mole {
  background-image: url(images/mole.png);
  background-size: cover;
  background-position: -80px 0px;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container button {
  margin: 10px;
  width: 40px;
  height: 50px;
  border-radius: 18px;
  justify-content: center;
  font-size: 2rem;
}

.container button:hover {
  opacity: 0.2;
}

.alignment {
    flex: 0 0 130px;
}

#score {
    margin-right: 20px;
}

.bottom-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 5px;
  left: 200px;
}

.bottom-container button {
  font-size: 1.5rem;
  background: linear-gradient(0.8turn,#fff, rgb(116, 156, 241));
  border-radius: 18px;
  padding: 10px;
}

.bottom-container button:hover{
  opacity: 0.7;
}