* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

hr{
    border: 2px dashed black;
    margin: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 400px;
  height: 300px;
  background-image: linear-gradient(80deg, #1893c4, #fff);
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  transition: 0.6s ease-out;
}

button {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

button:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
/* .text {
    border: 2px solid green;
    border-radius: 20px;
    margin: 10px;
    background: linear-gradient(0.3turn, #1b66de, #0eec76);
    opacity: 0.7;
} */

.text h2 {
  margin: 10px;
}

span {
  text-decoration: underline;
}
