@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: rgb(95, 95, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pw-container {
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 5px 6px 13px 5px rgba(255,255,255,0.3);
}

.pw-header {
    margin-bottom: 1rem;
}

#pw {
    word-wrap: break-word;
}

.pw {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    padding: 1rem;
    background-color: #2876f9;
    position: relative; 
    font-size: 1.3rem;
    border-radius: 10px;
}

.pw #copy {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: transparent;
}

.pw:hover #copy {
    opacity: 1;
    transform: translate(0, -20%);
}

.pw-body {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
}

#generate-btn {
    margin-top: 1rem;
    background-color: #f1c40f;
    padding: 1rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
    border: none;
    color: #0e2a5a;
}
