@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #54a0ff;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 500px;
  background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border-radius: 15px;
  overflow: hidden;
position: relative;
}

.temp-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-size: cover;
  color: black;
}

.temp-main {
    font-size: 3rem;
    font-weight: 900;
}

.weather-main {
    font-size: 1rem;
}

.forecast-container {
  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.day {
  display: flex;
  justify-content: space-between;
}

.text-container {
    align-self: end;
    padding-right: 4.5rem;
}

.text {
    margin-left: 2.5rem;
}

.weekday {
    width: 200px; 
}

.temp {
    width: 60px;
}

#input {
  padding: 1rem;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

#input::placeholder {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
}

.temp-main {
  padding-top: 2rem;
}

form {
  width: 70%;
}

img {
  height: 1.8rem;
  width: 1.8rem;
}
